@import "tailwindcss";

@theme {
  --color-navy-900: #0f172a;
  --color-slate-950: #020617;
  --color-blue-500: #3b82f6;
  --color-amber-500: #f59e0b;
  --color-critical: #ef4444;
}

@layer base {
  body {
    font-family: 'DM Sans', sans-serif;
    background-color: var(--color-slate-950);
    color: white;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Syne', sans-serif;
  }
}
